/* fonts */

/* latin */

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v10/tDbD2oWUg0MKqScQ7Z7o_vo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */

@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v7/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cf5b6jlg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* global */

body {
  font-family: "Arvo", Arial, Helvetica, sans-serif;
  margin: 0 20px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  font-weight: 600;
  text-decoration: underline;
}

.post-ads {
  margin: 50px 0;
}

/* overwrite */

.markdown-body {
  font-size: 18px;
}

/* i18n */

.Chinese .markdown-body {
  line-height: 200%;
}

/* fonts */

/* @font-face {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  src: local("Arvo"), url(../fonts/Arvo.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Permanent Marker";
  font-style: normal;
  font-weight: 400;
  src: local("Permanent Marker Regular"), local("PermanentMarker-Regular"), url("../fonts/PermanentMarker-Regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

/* header */

.site-title {
  font-size: 3rem;
  margin-top: 32px;
}

.site-date-catalog {
  font-size: 2rem;
}

.signatures {
  font-family: "Permanent Marker", Impact, Charcoal, sans-serif;
}

.signatures a {
  text-decoration: none;
}

.head-line {
  height: 3px;
  width: 100%;
  background-color: #000;
  margin: 30px 0;
}

.lang-switch {
  font-weight: 600;
}

/* posts */

.posts {
  margin-bottom: 80px;
}

.posts-date,
.posts-title {
  font-size: 1.2rem;
}

.post-line {
  margin: 12px 0;
}

.posts-footer {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.posts-footer-item {
  margin-right: 12px;
}

/* post */

.post img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.post-date {}

.post-author {
  float: right;
  font-weight: 600;
}

.post-header {
  margin-bottom: 50px;
}

.post-title {
  font-size: 2.5rem;
  font-weight: 600;
}

.post-content {
  margin-bottom: 50px;
}

.post-comments {
  margin-bottom: 50px;
}

#disqus_thread {
  position: relative;
}

#disqus_thread:after {
  content: "";
  display: block;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
}