{{ if and .Site.Params.lazyImage (not .IsHome) -}}
<script src="{{ .Site.Params.staticPrefix }}{{ "js/lazyload.min.js" | relURL }}"></script>
<script>
  var lazyImage = new LazyLoad({
    container: document.getElementById('article')
  });
</script>
{{ end }}
<script>
  // remove disqus ads
  document.addEventListener("DOMContentLoaded", function() {
    const disqus = document.getElementById('disqus_thread');
    if (!disqus) {
      return;
    }
    const observer = new MutationObserver(function(mutations) {
      mutations.forEach(function(mutation) {
        const iframes = disqus.getElementsByTagName('iframe');
        if (iframes.length > 1) {
          const commentsIframe = iframes[1];
          while (disqus.firstChild) {
            disqus.removeChild(disqus.firstChild);
          }
          disqus.appendChild(commentsIframe);
          observer.disconnect();
        }
      });
    });
    observer.observe(disqus, { childList: true, subtree: true });
  });
</script>
