<script type="application/ld+json">
  {
      "@context" : "http://schema.org",
      "@type" : "BlogPosting",
      "mainEntityOfPage": {
           "@type": "WebPage",
           "@id": "{{ .Site.BaseURL }}"
      },
      "articleSection" : "{{ .Section }}",
      "name" : "{{ .Title }}",
      "headline" : "{{ .Title }}",
      {{ if .IsHome -}}
      "description" : "{{ .Site.Params.description | plainify }}",
      {{- else -}}
      "description" : "{{ default .Summary .Description | plainify }}",
      {{- end }}
      "inLanguage" : "en-US",
      "author" : "{{ .Site.Params.author.name }}",
      "creator" : "{{ .Site.Params.author.name }}",
      "publisher": "{{ .Site.Params.author.name }}",
      "accountablePerson" : "{{ .Site.Params.author.name }}",
      "copyrightHolder" : "{{ .Site.Params.author.name }}",
      "copyrightYear" : "{{ .Date.Format "2006" }}",
      "datePublished": "{{ .Date }}",
      "dateModified" : "{{ .Date }}",
      "url" : "{{ .Permalink }}",
      "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }} ]
  }
</script>
