<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<script src="https://kit.fontawesome.com/292be55901.js" crossorigin="anonymous"></script>
<body>
  <article class="posts">
    <div class="row post-row">
      <img src="/images/pp.jpg" class="profile-picture" alt="My Picture">
      <br>
      <h1>Hassaan Pasha</h1>
      <br>
      <p class="social-button" style="border: 1px solid black;border-radius:5px">
        <a href="https://twitter.com/hassaan_pasha">
          <i class="fab fa-twitter"></i> Twitter
        </a>
      </p>
      <p class="social-button" style="border: 1px solid black;border-radius:5px">
        <a href="https://github.com/hassaanp">
          <i class="fab fa-github"></i> Github
        </a>
      </p>
      <p class="social-button" style="border: 1px solid black;border-radius:5px">
        <a href="https://www.linkedin.com/in/hassaan-pasha/">
          <i class="fab fa-linkedin"></i> Linkedin
        </a>
      </p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 col-lg-6 col-lg-offset-3">
        {{ partial "header.html" . }}
        <div id="posts-list">
          {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
          <section>
            <h1 class="site-date-catalog">{{ .Key }}</h1>

            {{ range .Pages }}
            <div class="row posts-line">
              <div class="posts-date col-xs-4 col-sm-2">
                <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02"}}</time>
              </div>
              <div class="posts-title col-xs-8 col-sm-10">
                <div class="row">
                  <div class="col-xs-12 col-sm-10">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  </div>
                </div>
              </div>
            </div>
            {{ end }}
          </section>
          {{ end }}
        </div>

        <p class="github social-button">
          <a href="https://www.github.com/hassaanp">
            <i class="fab fa-github"></i>
          </a>
        </p>
        <p class="linkedin social-button">
          <a href="https://www.linkedin.com/in/hassaan-pasha/">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </p>
        <p class="twitter social-button">
          <a href="https://twitter.com/hassaan_pasha">
            <i class="fab fa-twitter"></i>
          </a>
        </p>  
        {{ partial "footer.html" . }}
    </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
</body>
</html>